.bg__img {
    position: absolute;
}

.bg__img--circle {
    height: 150vh;
    top: -30%;
    left: 70%;
    animation: rotate 150s linear infinite;
    opacity: 0.02;
}

.bg__img--logo {
    height: 140vh;
    left: 0;
    top: 50%;
    opacity: 0.55;
    transform: translate(-30%,-50%);
}
