:root {
    --darkblue: #12272b;
    --darkpink: #1d1719;
    --lightblue: #c4ecff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: white;
    background: var(--darkblue);
    background: linear-gradient(to right top, var(--darkpink), var(--darkblue));
}

h1 {
    font-weight: 500;
    font-size: 2rem;
    padding-bottom: 1rem;
}

h3 {
    font-weight: 500;
    font-size: 1.3rem;
}

p {
    font-size: 1rem;
}

a p {
    color: rgb(204, 204, 204);
}

header {
    margin-bottom: 2rem;
}

a {
    color: white;
    text-decoration: none;
    margin: 0;
}

.animated {
    margin-bottom: 5px;
    position: relative;
}

.animated::after {
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--darkblue);
    background: linear-gradient(to right, transparent, var(--lightblue));
    transition: width 0.3s;
}

.animated:hover::after {
    width: 100%;
}

.thumbnail {
    width: 100%;
    margin: .1rem auto;
    object-fit: cover;
}

.tiles {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: stretch;
}


.link {
    max-width: 23%;
    min-width: 200px;
    margin: .5rem;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
}


@keyframes slideDown {
    from {transform: translateY(-25vh);}
    to {transform: translateY(100vh);}
}
@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
